.mobile-nav{
  height: 100vh;
  padding: 15px 15px 49px;
  overflow: scroll;
  background: $strong-grey;

  @include respond-to(desktop){
    display: none;
  }
}

.mobile-nav--hidden{
  display: none;
}

.mobile-nav__menu{
  @extend .u-list-reset;
}

.mobile-nav__menu__item.mobile-nav__menu__item{
  position: relative;
  margin-bottom: 5px;
}

.mobile-nav__menu__link, .mobile-nav__menu__parent{
  display: block;
  padding: 14px 40px 11px 15px;
  background-color: rgba(#fff, 0.1);
  margin: 0 auto;
  color: #fff;

  &:hover, &:focus{
    color: #000;
    background-color: #fff;
  }
}

.mobile-nav__menu__child{
  padding-left: 16px;
  margin-bottom: 0;
}

.mobile-nav__menu__link--back {
  background: none;
  padding-left: 0;

  &:hover, &:focus{
    color: $dark-grey;
    background: none;
  }
}

.mobile-nav__menu__icon{
  margin-right: 10px;
}
