<header class="page-header">
  <div class="o-grid">
    <div class="page-header__title">
      <div style="display: flex; flex-direction: row">
        <a routerLink="/app/alignments"
           matTooltip="Back to all alignments"
           mat-icon-button
           aria-label="Back"
        >
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
        <h1>{{details.name}}</h1>
        <h2>({{details.abbreviation}})</h2>
      </div>
    </div>
  </div>
</header>

<div class="page-content">
  <div class="o-grid" style="padding-top: 0">
    <h2>Description</h2>
    <p class=".mat-h3">{{details.desc}}</p>
  </div>
</div>


