<div class="flex-body">
  <header>
    <mat-toolbar color="primary">
      <button *ngIf="user" (click)="drawer.toggle()" mat-icon-button aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span>dd5e explorer</span>
      <span class="menu-spacer"></span>
      <span *ngIf="time">{{time}}</span>
      <button *ngIf="user"
              matTooltip="Logout"
              (click)="logoutClick()"
              mat-icon-button
              aria-label="Logout">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>

  </header>

  <mat-sidenav-container class="flex-content" autosize>
    <mat-sidenav #drawer role="navigation" mode="over">
      <mat-nav-list role="list" style="padding-left: 20px; padding-right: 20px ">
        <a mat-list-item (click)="drawer.close()" routerLink="/app">Dashboard</a>
        <mat-divider></mat-divider>
        <div *ngFor="let card of cardsService.getCards()">
          <div *ngIf="card.links.length > 1">
            <a mat-list-item (click)="drawer.close()" [routerLink]="card.links[0].link">{{ card.title  }}</a>
            <a mat-list-item (click)="drawer.close()" class="nav-link-child" *ngFor="let link of card.links" mat-line [routerLink]="link.link">{{ link.text }}</a>
          </div>
          <div *ngIf="card.links.length === 1">
            <a mat-list-item *ngIf="card.links.length === 1" (click)="drawer.close()" [routerLink]="card.links[0].link">{{ card.title }}</a>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="height: 100%">
      <div class="flex-body">
        <main class="body flex-content" style="padding-top: 1.5em">
          <router-outlet style="min-height: 100vh;"></router-outlet>
        </main>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
