<header class="page-header">
  <div class="o-grid">
    <div class="page-header__title">
      <h1>Languages</h1>
    </div>
  </div>
</header>

<div class="page-content">
  <div class="o-grid" style="padding-top: 0">
    <app-skeleton [isLoading]="!dataSource" [theme]="{width: '100%', height: '100px'}">
      <app-table *ngIf="dataSource"
                 [dataSource]="dataSource"
                 [displayedColumns]="displayedColumns"
                 [rowClickSubject]="rowClickSubject"
      >
      </app-table>
    </app-skeleton>
  </div>
</div>

