@keyframes shake {
  0%,
  100% {
    transform: translateX(0) rotate(0deg) translateY(0)
  }
  15%,
  35%,
  55%,
  75%,
  95% {
    transform: translateX(-1px) rotate(-1deg)
  }
  25%,
  45%,
  65%,
  85% {
    transform: translateX(1px) rotate(1deg)
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(1px)
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(-1px)
  }
}

.shake {
  animation-name: shake;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-transition-timing-function: linear
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}