$jisc-primary: (
        50 : #e7e7e7,
        100 : #c2c2c2,
        200 : #999999,
        300 : #707070,
        400 : #525252,
        500 : #333333,
        600 : #2e2e2e,
        700 : #272727,
        800 : #202020,
        900 : #141414,
        A100 : #ef6e6e,
        A200 : #ea4040,
        A400 : #f60000,
        A700 : #dd0000,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);


$jisc-accent: (
        50 : #eaeaea,
        100 : #c9c9c9,
        200 : #a6a6a6,
        300 : #828282,
        400 : #676767,
        500 : #4c4c4c,
        600 : #454545,
        700 : #3c3c3c,
        800 : #333333,
        900 : #242424,
        A100 : #f18080,
        A200 : #ec5252,
        A400 : #ff0c0c,
        A700 : #f10000,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);
