<header class="page-header">
  <div class="o-grid">
    <div class="page-header__title">
      <div style="display: flex; flex-direction: row">
        <a routerLink="/app/languages"
           matTooltip="Back to all languages"
           mat-icon-button
           aria-label="Back"
        >
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
        <app-skeleton [isLoading]="!details" [theme]="{height: '40px', width: '70px'}">
          <h1 *ngIf="details">{{details.name}}</h1>
        </app-skeleton>
      </div>
    </div>
  </div>
</header>

<div class="page-content">
  <div class="o-grid" style="padding-top: 0">
    <app-skeleton [isLoading]="!details" [theme]="{height: '100px', width: '100%'}">
      <div *ngIf="details">
        <p><b>Script:</b> {{details.script}}</p>
        <p><b>Type:</b> {{details.type}}</p>
        <p><b>Script:</b> {{details.script}}</p>
        <p><b>Typical Speakers:</b></p>
        <ul *ngFor="let speaker of details.typical_speakers" style="padding-left: 4em">
          <li>{{speaker}}</li>
        </ul>
      </div>
    </app-skeleton>
  </div>
</div>


