.graph{
  position: relative;
  background-color: $white;
  padding: 2em 1em 1em;
  border: 1px $light-blue solid;
  min-height: 450px;
}

.graph__loader{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.graph__description{
  border-top: 1px $light-blue solid;
  padding: 1em;
  text-align: center;
  margin: 2em 1em 0;
}

.graph__description__title{
  font-size: 21px;
  margin: 1em;
}

.graph__description__text{
  margin-bottom: 0;
}

.highcharts-title{
  margin-bottom: 2em;
}

.highcharts-menu-item:before {
  background: none;
}

.highcharts-data-table {
  caption {
    border-bottom: none;
    font-size: 1em;
    margin-bottom: 0;
    padding: 1em;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
    min-width: 100%;
    margin-top: 10px;
    font-size: 1em;
    text-align: left;

    thead th {
      color: $dark-grey;

      &:nth-of-type(2) {
        padding-left: 0;
      }
    }

    tbody tr:nth-child(odd) {
      background: #fafafa;
    }

    th {
      padding-left: 35px;
    }

    td {
      padding-left: 0;
    }

    td, th {
      padding: 1em;
      border-top: 1px solid #b9c9d5;
    }
  }
}
